body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 200%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

header h1 {
    margin: 0;
}

main {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background: #5bc0de;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

form button:hover {
    background: #46b8da;
}

.hamburger {
    font-size: 2em;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 10;
    display: none;
}

@media (max-width: 999px) {
    .sidebar {
        position: fixed;
    }

    .hamburger {
        display: block;
    }

    .container {
        flex-direction: column;
    }

    .main-content {
        width: 100%;
    }
}
